<div class="dasboard container">
    <ul class="dashboard-wrapper">
        <li class="dashboard-items">
            <h2 class="dasboard-title">$89,914</h2>
            <p class="dashboard-descr">
                of $100,000 backed
            </p>
            <span class="line"></span>
        </li>
        <li class="dashboard-items">
            <h2 class="dasboard-title">5,007</h2>
            <p class="dashboard-descr">total backers</p>
            <span class="line"></span>
        </li>
        <li class="dashboard-items">
            <h2 class="dasboard-title">56</h2>
            <p class="dashboard-descr">days left</p>
        </li>
        <li class="dashboard-filler"><span class="filler"></span></li>
    </ul>

</div>