.modal__container {
  max-height: 80vh; /* Наприклад, максимальна висота для модального вікна */
  overflow-y: auto;
  background-color: white; /* Колір фону модального вікна */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Тінь для модального вікна */

  text-align: center;
  position: relative; /* Додайте позицію relative, щоб можна було позиціонувати кнопку закриття */
}

.modal {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 151;
}

.modal-open {
  overflow: hidden; /* Заборонити прокрутку */
}

.modal-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 150;
}

/* check box */

.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 8px;
  left: 0;

  content: url('/src/images/icon-not-check.svg');
}

.custom-checkbox input:checked ~ .checkmark {
  content: url('/src/images/icon-check.svg');
}

.border-style:hover {
  border-color: #3cb3ab;
}
/* .custom-checkbox input:checked ~ .checkmark::after {
  content: url('/src/images/icon-check.svg');
} */
.distans {
  margin: auto;
}

.list-title1 {
  margin-top: 12px;
  margin-bottom: 36px;
}
.list-title {
  margin-left: 64px;
}
.list-green {
  margin-left: 64px;
}

/* additional window  */
.window-wrapper {
  display: none;
  margin: auto;
  width: 100%;
  margin-bottom: 0;
}

.additional-window {
  margin: auto;
  display: none;

  border: none;
  max-width: 100%;
  display: block;
  background-color: #fff;

  align-items: center;
}

.additional-window-descr-details {
  color: #7a7a7a;
  font-family: Commissioner;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.additional-line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
  margin: auto;
  display: block;
}

.additional-window-price {
  padding: 15px 32px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;

  border-radius: 33.5px;
  background-color: #fff;
}

.currency {
  color: rgba(0, 0, 0, 0.15);
  margin-right: 8px;
}

.additional-window-btn {
  padding: 15px 32px;
  color: #fff;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  border: none;
  border-radius: 33.5px;
  background: #3cb3ab;
}
.additional-window-btn:hover {
  background-color: #147a73;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

/*  success modal */

.success-modal {
  max-width: 327px;
  padding: 40px 24px;
  margin: auto;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 152;
}
.success-svg {
  width: 64px;
  height: 64px;
  content: url('/src/images/success.svg');
}
.success-title {
  color: #000;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.success-descr {
  color: #7a7a7a;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.success-btn {
  padding: 15px 32px;
  color: #fff;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  border: none;
  border-radius: 33.5px;
  background: #3cb3ab;
}

.success-btn:hover {
  background-color: #147a73;
}

.cl-btn-6 {
  width: 24px;
  cursor: pointer;
  margin-left: auto;
  position: absolute;
  top: 20px;
  right: 0;
}
.cl-btn-6-in {
  width: inherit;
  text-align: center;
}
.cl-btn-6-txt {
  font-size: 5px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #898b8e;
  transition: all 0.3s ease-in;
  opacity: 0;
  cursor: pointer;
  font-family: Verdana;
}
.cl-btn-6-in:before,
.cl-btn-6-in:after {
  position: absolute;
  content: '';
  height: 4px;
  width: inherit;
  background: #636669;
  left: 0;
  transition: all 0.3s ease-in;
}
.cl-btn-6-in:before {
  top: calc(50% - 4px);
  transform: rotate(45deg);
}
.cl-btn-6-in:after {
  bottom: 50%;
  transform: rotate(-45deg);
}
.cl-btn-6:hover .cl-btn-6-txt {
  opacity: 1;
}
.cl-btn-6:hover .cl-btn-6-in:before,
.cl-btn-6:hover .cl-btn-6-in:after {
  transform: rotate(0);
}
.cl-btn-6:hover .cl-btn-6-in:before {
  top: 0;
}
.cl-btn-6:hover .cl-btn-6-in:after {
  bottom: 0;
}
