<div class="">
    <div class="modal__container modal is-hidden" id="myModal">
        <button id="closeModalButton" class="modal__btn modal__btn-primary">Close</button>
        <h3 class="modal-title">Back this project</h3>
        <p class="modal-description">Want to support us in bringing Mastercraft Bamboo Monitor Riser out in the
            world? </p>
        <ul class="card-list">
            <li class="card-item"></li>
            <li class="card-item">
                <h4 class="list-title">Bamboo Stand</h4>
                <span class="list-green">Pledge $25 or more</span>
                <p class="list-description">You get an ergonomic stand made of natural bamboo. You've helped us
                    launch
                    our
                    promotional campaign, and
                    you’ll be added to a special Backer member list.</p>
                <div class="span-wrapper">
                    <span class="list-number-left">101</span>
                    <span class="list-text-left">left</span>
                </div>
            </li>
            <li class="card-item">
                <h4 class="list-title">Black Edition Stand</h4>
                <span class="list-green"> Pledge $75 or more</span>
                <p class="list-description">You get a Black Special Edition computer stand and a personal thank you.
                    You’ll
                    be added to our Backer
                    member list. Shipping is included.</p>
                <div class="span-wrapper">
                    <span class="list-number-left">64</span>
                    <span class="list-text-left">left</span>
                </div>
            </li>
            <li class="card-item">
                <h4 class="list-title">Mahogany Special Edition</h4>
                <span class="list-green">Pledge $200 or more</span>
                <p class="list-description">You get two Special Edition Mahogany stands, a Backer T-Shirt, and a
                    personal
                    thank you. You’ll be added
                    to our Backer member list. Shipping is included.</p>
                <div class="span-wrapper">
                    <span class="list-number-left">0</span>
                    <span class="list-text-left">left</span>
                </div>
            </li>
        </ul>
    </div>
</div>