@import './partials/header/heder.css';
@import './partials/hero/hero.css';
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: 'Commissioner', sans-serif;
  background-attachment: fixed;
  background-repeat: no-repeat;

  background-size: contain;
  box-sizing: border-box;
}
h1,
h2,
h3,
a,
p {
  font-family: 'Commissioner', sans-serif;
}

@media screen and (max-width: 1199px) {
  body {
    background-image: url(/src/images/image-hero-mobile.jpg);
  }
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.is-hidden {
  display: none;
}
