@import './partials/header/heder.css';

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}
